       <div class="col-lg-4 col-sm-12  mt-5 mt-lg-0">
                  <aside id="secondary" class="widget-area" aria-label="Blog Sidebar">

                    <div id="recent-posts-2" class="widget widget_recent_entries">
                      <h2 class="widget-title">Recent Posts</h2>
                      <ul>
                        <li>
                          <a href="/blog-1" aria-current="page">Meet Ayana</a>
                        </li>
                        <li>
                          <a href="/blog-2">Demystifying AI</a>
                        </li>

                      </ul>

                    </div>

                  </aside><!-- #secondary -->
                </div>