 <footer id="contact" class="education">
            <div class="container">
                <!-- Address END -->

                <!-- Address -->
                <div class="footer-top">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-6 ">
                            <div class="footer-logo">
                                <a href="#">
                                    <img src="../static/images/landing/logo-main.png" alt="vizion1">
                                </a>
                            </div>
                            <div class="widget">
                                <div class="textwidget">
                                    <p class="mt-3">Build AI and ML based chatbots powered by GPT, the state-of-the-art language model. Our chatbots learn from every interaction to provide even better experiences over time.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-6 col-sm-6 ">
                            <div class="widget">
                                <h4 class="footer-title">Resources</h4>
                                <div class="menu-footer1-container">
                                    <ul id="menu-footer1" class="menu">
                                        <li class="menu-item"><a href="/about-us">About Us</a></li>


                                        <li class="menu-item"><a href="/privacy-policy">Privacy Policy</a></li>

                                        <li class="menu-item"><a href="/terms">Terms of Service</a></li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 ">
                            <h4 class="footer-title iq-rmt-30">Contact Info</h4>
                            <div class="row">
                                <div class="col-sm-12">
                                    <ul class="iq-contact text-white">

                                        <li>
                                            <a href="mailto:info@botverse.com"><svg xmlns="http://www.w3.org/2000/svg" width="30px" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z" />
                                            </svg> info@botverse.click</a>
                                        </li>
                                        <li>
                                            <a href="#"><svg xmlns="http://www.w3.org/2000/svg" width="30px" viewBox="0 0 20 20" fill="currentColor">
                                                <path fill-rule="evenodd" d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd" />
                                              </svg>San Francisco, California, USA</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="pt-5">
                <!-- Address END -->
                <div class="pt-3 pb-3">
                    <div class="row justify-content-between">
                        <div class="col-auto mr-auto">
                            <span class="copyright">Copyright 2023 botverse All Rights Reserved.</span>
                        </div>

                    </div>
                </div>
            </div>
        </footer>